## messageSource=classpath:/shoppingcore/messages/email-notPickedUpConsignmentCanceled_$lang.properties
#macro( genHtmlBoldFont $text )
<font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>$text</b></font>
#end
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end

<!DOCTYPE html>
<html>
	<head>
	</head>
	<body bgcolor="#ffffff"
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="margin-top: 5rem">
		<tr>
			<td align="center" valign="top">
				<table width="610" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#fff">
					<tr>
						<td align="center" valign="top" bgcolor="#FFFFFF">
							<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
                                <tr>
										<td>Product Code</td>
										<td>Product Name</td>
										<td>Status</td>
                                </tr>
								<tr>
									<td>${ctx.product.code}</td>
									<td></td>
									<td>${ctx.product.approvalStatus.code}</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
